*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
img{
    max-width: 100%;
}
/*---- Common Style ----*/
.common_btn{
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline_btn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #1D4ED8;
    border-color: #1D4ED8;
    cursor: pointer;
}
.main_container{
    max-width: 1200px;
    margin: auto;
}

header .outside{
    color: #b9b8b898;
    background-color: black;
    font-size: 12px;
}

/* Navbar Sectiion Start */
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    align-items: center;
    padding: 15px 80px;
}

.nav_content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav_content .b{
    font-weight: 530;
}

/* Navbar Sectiion End */


/* Banner Section start */

.hero_section_container{
    background-image: url('./assets/banner.jpg');
    height: 100vh;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    
}
.overlay{
    background-color: rgba(0,0,0,0.60);
    height: 100vh;
    text-align: center;
    color: white;    
    
}

.hero_section_container h1{
    font-size: 60px;
    padding-top: 10%;
}
.hero_section_container p{
    padding-top: 2%;
    padding-bottom: 20%;
}
.overlay button{
    font-size: 24px;
    padding: 18Px;
}

/* Banner Section ENd */

/* Speaker section start */

.speakers_container{
    margin: 120px auto;
}
.spk_card{
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    /* border: 1px solid blueviolet;
    margin: 10px;
     */
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}
.spk_card .card_down h3{
    color: blue;
    font-size: 12px;
    font-weight:500;
}
.spk_card .card_down h2{
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
}
.spk_card .card_down h4{
    font-size: 14px;
    font-weight: normal;
}
.spk_card .card_down{
    padding: 15px;
}
.speakers_container h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: bold;
}
.spk_card img{
    width: 100%;
    display: block;
    border-radius: 7px 7px 0 0;
}
.card_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/* Speaker section End */


/* Pricing section start */

.Pricing_Section_contnr{
    text-align: center;
    /* margin: 50px 200px; */
    padding: 50px 200px;
}
.price_tilte{
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 25px;
}
.Pricing_Section_contnr h3{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 45px;
}

.pricing_card{
    text-align: left;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.pricing_card p{
    font-size: 14px;
    font-weight: 500px;
    padding: 10px 0;
}
/* #hr01{
    color: #1D4ED8;
} */
.pricing_card ul li{
    padding: 5px;
    /* list-style: circle; */
    font-size: 15px;
}
.pricing_card ul li::marker{
    color: blue;
    font-size: 20px;
}
.pricing_card ul{
    padding: 15px;
}
.pricing_card button{
    /* display: block; */
    width: 100%;
    padding: 10px;
}
.Pcard_contnr{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* padding: 0px 60px; */
}
#middle_card01{
    background-color: #2b445e;
    /* background-color: #35314d;     */
    color: white;
    box-shadow: 0px 2px 8px rgba(101, 4, 180, 0.986);
}

.excp_btn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #0D1B2A;
    border-color: #0D1B2A;
    cursor: pointer;
}

/* Pricing section ENd */

